body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #b7a6a6;
    margin: 0; 
}

.container {
    margin-top: 70px;
    background: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 500px; 
}

input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: calc(70% - 10px); 
}

button {
    padding: 10px;
    margin: 5px;
}

.weather-info {
    margin-top: 20px;
    border: 2px solid;
    border-radius: 5px;
    width: 95%; 
    padding: 10px; 
}


